datadir="/var/lib/proxysql"

admin_variables =
{
  admin_credentials = "admin:admin"
  mysql_ifaces = "0.0.0.0:6032"
}

mysql_variables =
{
  interfaces = "0.0.0.0:6033"
  threads = 4
  max_connections = 2048
  default_query_delay = 0
  default_query_timeout = 36000000
}

mysql_servers =
(
  {
    address = "mysql"
    port = 3306
    hostgroup = 0
    max_connections = 100
  }
)

mysql_users =
(
  {
    username = "app_user"
    password = "app_password"
    default_hostgroup = 0
    active = 1
  }
)
